.search-div {
  margin: 10px 20px;
  padding: 10px 20px;
}

input[type=text] {
  width: auto;
  height: 30px;
  /* margin-left: 5px; */
  border: none;
  padding: 22px 5px;
  border-radius: 5px;
}

input,
span {
  font-size: 20px;
}

.changeBackground {
  background-color: #fad7a0;
}