<div class="container">
  <h2>New in Smart Phones</h2>

  <div class="more-products">
    <app-product>
      <h4 class="title">New in iPhone</h4>
      <button class="btn btn-more">Show more in iPhone</button>
    </app-product>
    <app-product>
      <h4 class="title">New in Sumsong</h4>
      <button class="btn btn-more">Show more in Samsung</button>
    </app-product>
    <app-product>
      <h4 class="title">New in One Plus</h4>
      <button class="btn btn-more">Show more in OnePlus</button>
    </app-product>
    <app-product>
      <h4 class="title">New in ML</h4>
      <button class="btn btn-more">Show more in ML</button>
    </app-product>
  </div>
</div>
