<h1 mat-dialog-title>Add Product From</h1>
<div mat-dialog-content>
  <!-- Product Name -->
  <mat-form-field appearance="outline" style="margin-top: 10px">
    <mat-label>Product Name</mat-label>
    <input matInput placeholder="Name" />
  </mat-form-field>

  <!-- Product Caregory -->
  <mat-form-field appearance="outline">
    <mat-label>Product Category</mat-label>
    <mat-select placeholder="Category">
      <mat-option value="Fruits">Fruits</mat-option>
      <mat-option value="Vegitable">Vegitable</mat-option>
      <mat-option value="Electronic">Electronic</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Date -->
  <mat-form-field appearance="outline">
    <mat-label>Choose a Date</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- Radio Button -->
  <label for="">
    <h1>Product Freshness</h1>
  </label>
  <mat-radio-group class="example-radio-group">
    <mat-radio-button
      *ngFor="let fresh of freshnessLists"
      value="fresh"
      class="example-radio-button"
    >
      {{ fresh }}
    </mat-radio-button>
  </mat-radio-group>

  <!-- Price -->
  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput type="number" placeholder="Price" />
  </mat-form-field>

  <!-- Comments -->
  <mat-form-field appearance="outline">
    <mat-label>Comments</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <!-- Buttons -->
  <div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="primary">Save</button>
    <button
      mat-raised-button
      color="warn"
      mat-dialog-close
      style="margin-left: 10px"
    >
      Close
    </button>
  </div>
</div>
